/* 
    Universal selector
    Sets default attributes for all elements
 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
    Body selector
    Sets background color for areas with no element
*/
body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*
    Visited Anchor selector
    Changes link text color slightly to indicate that a section has already been visited via the link
*/
a:visited
{
    color: bisque;
}

p {
    font-size: 16px;
}

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*
    Special class selector for formatting the "SEO" pun in "Horiseon"
    Class selector used as this may be used elsewhere on the webpage in future
*/
.horiseon-seo-emphasized {
    color: #d9dcd6;
    font-weight: 100; /* Unbolded effect added to help the pun stand out for users with limited vision or display capability */
    font-style: normal;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    float: right;
}

#nav-bar {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

#nav-bar li {
    margin-left: 25px;
    display: inline-block;
}

/*
    Leading (banner) image selector
    Handles <hr> spacing and image and removes default border to retain original appearance
*/
#leading-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    border-style: none;
}

/*
    Services section selector
*/
#services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*
    Service subsection selector
*/
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    position: relative;
}

/*
    Service header selector
*/
.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*
    Service image selector
*/
.service img {
    max-height: 200px;
    display: inline;
}

/*
    Service image class selectors
    Determines which side of the service box that the image should be floated on
*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Ditto */
.float-left {
    float: left;
    margin-right: 25px;
}

.shift-right {
    position: absolute;
    left: 375px;
    padding-right: 50px;
}

.shift-down {
    position: absolute;
    top: 114px;
    padding-right: 50px;
}

/*
    Benefits section selector
*/
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*
    Benefit subsection selector
*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/*
    Benefit header selector
*/
.benefit h2 {
    font-size: 1.17em;
    margin-bottom: 10px;
    text-align: center;
}

/*
    Benefit image selector
*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*
    Footer header selector
    Used in webpage credits
*/
footer h2 {
    font-size: 20px;
}
